#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.booproj
*.csproj
*.unityproj
*.pidb
*.mp4
Library/
Temp/
*.sln
*.apk
*.orig
*.tmp
obj/
Xcode
builds
~$*
Assets/UnityVS/
Assets/UnityVS.meta
Assets/ThirdParty/UnityVS/
Assets/ThirdParty/UnityVS.meta
Library/